<header>
  <h1>Simple Weather App</h1>
</header>
<main fxLayout="column" fxLayoutAlign="flex-start center">
  <form (ngSubmit)="submitted$.next()" [formGroup]="form">
    <mat-form-field>
      <input formControlName="city" matInput placeholder="City" />
      <mat-hint>Insert a city name</mat-hint>
      <mat-error *ngIf="form.get('city').hasError('required')">Field is required</mat-error>
      <mat-error *ngIf="form.get('city').hasError('minlength')">At least 3 characters long</mat-error>
    </mat-form-field>
  </form>

  <div *ngIf="city$ | async as city">
    <div *ngFor="let weather of city.weather">
      <p>{{ weather.main }}</p>
      <p>{{ weather.description | titlecase }}</p>
    </div>
  </div>
</main>
